<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Código</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Modelo</th>
                <th scope="col">Precio</th>
                <th scope="col">action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of _products">
                <td>{{product.code}}</td>
                <td>{{product.description}}</td>
                <td>{{product.model}}</td>
                <td>{{product.price}}</td>
                <td><a class="btn btn-danger">delete</a> <br> <a class="btn btn-success">edit</a></td>
              </tr>
            </tbody>
          </table>
      </div>
</div>    
